<!DOCTYPE HTML>

<html>
	<head>
		{% extends "base.html" %}
		{% from 'bootstrap4/form.html' import render_form %}
		{% block title %}Login{% endblock %}
	</head>
	<body>
	{% block content %}
        <div class="container">
		<h1>Login</h1>
			{{ render_form(form) }}
        <!-- This is where our form will go. -->
<!--		<form method="POST" action="{{ url_for('login') }}" novalidate>-->
<!--			{{ form.csrf_token }}-->
<!--			<p> {{ form.email.label }} {{ form.email(size=30) }} </p>-->
<!--			{% for err in form.email.errors %}-->
<!--			<span style="color:red">{{ err }}</span>-->
<!--			{% endfor %}-->
<!--			<p> {{ form.password.label }} {{ form.password(size=30) }} </p>-->
<!--			{% for err in form.password.errors %}-->
<!--			<span style="color:red">{{ err }}</span>-->
<!--			{% endfor %}-->
<!--			<p> {{ form.submit }} </p>-->
<!--		</form>-->
        </div>
	{% endblock %}
	</body>
</html>